.row
  - unless @duels.empty?
    - @duels.each do |duel|
      .duel{ href: duel_path(duel) }
        .title= duel.title
        .member.caller= duel.users.last.try(:name)
        .vs VS
        .member.accepter= duel.users.first.try(:name)
  - else
    %h2 There are no duels yet