.row
  - unless @duels.empty?
    - @duels.each do |duel|
      - last = duel.users.last; first = duel.users.first
      .duel{ href: duel_path(duel) }
        = render 'duel', duel: duel, first: first, last: last
  - else
    %h2 There are no duels yet