.row
  .col-sm-12
    .panel
      .panel-body
        = link_to "All duels", duels_path            
      .panel-body
        My duels
      .panel-body
        = link_to "New duel", new_duel_path
  .col-sm-12
    .panel
      .panel-body
        History
      .panel-body
        Statistics
      .panel-body
        Settings
