/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap';
@import 'bootstrap-datetimepicker';

/* variables */

$red: #F05959;
$blue: #25B3FA;
$light-grey: #E8E8E8;
$dark-grey: #B8B8B8;
$darker-grey: #8F8F8F;
$duel-background-transparent: rgba(245, 245, 245, 0.75);
$duel-background: rgba(245, 245, 245, 1);
$vs-gray-light: rgba(50, 50, 50, 1);
$vs-gray-dark: rgba(30, 30, 30, 1);

/* overriden bootstrap styles */


.navbar { border-radius: 0px; }
img { border-radius: 3px; }

body { 
  background: image-url("skulls.png"); 
  padding-top: 70px;
}

.list-group-item {
  background-color: $duel-background;
}

.list-group-item:hover {
  background: rgba(250, 250, 250, 1); 
}

a:hover {
  text-decoration: none;
}

/* custom styles */

.hidden { display: none; }
.field_with_errors { @extend .has-error; }
.error_explanation {
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  background: #FAE1E1;
  border-radius: 5px;
  border: 1px solid #D9ABAB;
}

.custom-nav-panel { 
  position: fixed; 
  width: 16.6667%;
}

.mini {
  margin-top: 0px;
  margin-bottom: 5px;
}

.br {
  margin-bottom: 15px; 
}

.votes {
  padding: 10px;
  background-color: $duel-background-transparent;
  border: 3px solid $light-grey;
}

.comments-form {
  padding: 10px;
  background-color: $duel-background-transparent;
  border: 3px solid $light-grey;  
}

.av img { border-radius: 8px; }
.duel {
  cursor: pointer;
  border: 1px solid $dark-grey;
  border-radius: 0px;

  width: 100%;
  height: 130px;
  
  margin-bottom: 40px;
  background: $duel-background-transparent;
  font-family: helvetica;

  .title {
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: $light-grey;
    
    color: rgba(80, 80, 80, 0.85);
    text-align: center;
    font-size: 14px;
  }

  .member {
    margin-top: 22px; 
    display: inline-block;
    
    text-align: center;
    font-size: 18px;
    font-weight: bold;

    width: 300px;
  }
  
  .caller {
    margin-left: 1%;
    float: left;
    color: $red;
  }

  .accepter {
    margin-right: 1%;
    float: right;
    color: $blue;
  }
  
  .av {
    position: relative;
    display: inline-block;
    
    margin-left: 10px;
    margin-right: 10px;
    bottom: 23px;

    .left { float: left; }
    .right { float: right; }
  }

  .txt {
    display: inline-block;
    width: 160px;
    height: 55px;
    overflow: hidden;
  }

  .vs {
    margin-left: 11%;
    margin-top: 18px;
    padding-top: 19px;
    
    display: inline-block;
    background-color: $vs-gray-light;

    color: white;
    text-align: center;
    font-size: 22px;

    border-radius: 350px;
    width: 70px;
    height: 70px;
  }

  -moz-box-shadow: 4px 4px 0 $dark-grey;
  -webkit-box-shadow: 4px 4px 0 $dark-grey;
  box-shadow: 4px 4px 0 $dark-grey;
}

.duel:hover { 
  border: 1px solid $darker-grey;
  background: $duel-background; 

  -moz-box-shadow: 4px 4px 0 $darker-grey;
  -webkit-box-shadow: 4px 4px 0 $darker-grey;
  box-shadow: 4px 4px 0 $darker-grey;

  .title { font-weight: bold; }
  .vs { background-color: $vs-gray-dark; }
}
